*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{

    width: 100%;
    height: 600px;
    background-image: url(../imagens/topo.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;

}
.menu{

    width: 100%;
    background: rgba(0, 0, 20, 0.4);
    position: relative;
    height: 60px;

}
.menu img{

    padding: 15px 250px;

}
.menu ul{

    list-style: none;
    position: absolute;
    right: 25px;
    top: 10px;
 
}
.menu ul li{

    display: inline-block;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: Arial;
    color: rgb(0,191,196);

}
.menu ul li:hover{

    color: rgba(0,191,196,0.5); ;
}
main{

   padding: 10px;

}
.content-1{

    width: 80%;
    margin: auto;
    padding: 30px;
    text-align: center;
}
.content-1 h1{

    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 30px;

}
.content-1 p{

    font-family: Arial;
    line-height: 35px;
}
.content-2{

    width: 80%;
    margin: auto;
    padding: 30px;
    text-align: center;
    overflow: auto;

}
.card{

    width: 32%;
    float: left;

}
.card-margin{

    margin-right: 2%;

}
.card img{

    width: 100%;
}
.header-card{

    font-family: Arial;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #363636;

}
.card p{

    font-family: Arial;
    color: gray;

}
.content-3{

    width: 100%;
    height: 600px;
    background-image: url(../imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;

}
.content-3 h1{


    color: #fff;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 40px;
    width: 65%;
    padding: 100px 0px 70px 100px;

}
.content-3 p{

    font-family: Arial;
    width: 55%;
    padding-left: 100px;
    color: #fff;

}
.informaçao{

   text-align: center;
   font-family: Arial;
   padding: 50px;
   width: 100%;
   font-weight: bold;
   color: rgb(16 78 139);

}
.map{

    width: 90%;
    margin: auto;
    margin-bottom: 50px;

}
footer{

  clear: both;
  padding: 30px;
  text-align: center;
  margin-top: 10px;
  background-color:rgb(3, 6, 11);

}
footer p {

    color: rgb(0, 72, 101);
    font-family: Arial;
    letter-spacing: 4px;
 
}